nav {
    min-width: 100%;
    height: 48px;
    font-family: "Lucida Grande";
    display: block;
    zoom: 1;

}
nav ul {
    position: relative;
    bottom: 2px;
    right: 1px;
    float: right;
    margin: 12px 18px;
    padding: 10px 30px;
    list-style: none;
}
nav li {
    margin: 15px 5px 15px 6px;
    padding: 5px 4px;
    font-size: 12px;
    display: inline;
    color: #369;
}
header {
    clear: both;
    width: 829px;
    height: 163px;
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    font-family: "CrimsonSemiBold"
}

section {
    margin: 30px auto;
    width: 825px;
    display: block;
}

.products {
    text-align: center;
    height: 288px;
    padding-bottom: 30px;
    font-family: 'Lucida Grande'
}

.products a {
    position: relative;
    top: 40px;
    left: 75px;
    width: 160px;
    margin: 15px 20px 5px;
    float: left;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0 5px #EFEFEF;
    padding: 20px 10px 10px;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EFEFEF));
}

hr {
    background: white url('img-hr.png') no-repeat scroll 50% 50%;
    clear: both;
    border: 0;
    color: transparent;
    height: 12px;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}